.why-container {
  background: url(../../assets/why.png) no-repeat;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 100px;
  margin-bottom: 80px;
}
.why-img1 img {
  margin-top: 80px;
}
.img-why {
  display: flex;
  gap: 20px;
}
.circle-con {
  width: 288px;
  height: 288px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: #1e315d;
  display: flex;
  align-items: center;
  justify-content: center;
}
.why-img2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/*  */
.circle-con {
  position: relative;
  width: 288px;
  height: 288px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid var(--secondary-color);
}

.outer-circle {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  position: relative;
}

.text-circle {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  animation: rotateText 12s linear infinite;
}

@keyframes rotateText {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-circle span {
  position: absolute;
  left: 50%;
  top: 0;
  transform-origin: 0 130px;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 2px;
  color: white;
  text-transform: uppercase;
}

.inner-circle {
  width: 170px;
  height: 170px;
  border: 1px solid var(--secondary-color);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.inner-circle h1 {
  margin: 0;
  font-size: 50px;
  font-weight: 700;
}

.inner-circle p {
  margin: 0;
  font-size: 25px;
  color: #4c7cff;
  font-weight: 700;
}
/*  */
.why-heading {
  color: var(--secondary-color);
}
.why-heading h2 {
  font-size: 45px;
  font-weight: 800;
  margin-bottom: 15px;
}
.why-heading h4 {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 10px;
}
.why-heading p {
  font-size: 20px;
  font-weight: 400;
  opacity: 0.7;
}
/*  */
.why-box-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  margin-top: 30px;
  place-items: center;
}
.why-box {
  width: 100%;
  height: 100%;
  background-color: #1c487d;
  padding: 20px;
  border-radius: 15px;
}
.why-box-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.why-box-num {
  font-size: 70px;
  font-weight: 700;
  color: var(--secondary-color);
  opacity: 0.6;
}
.why-box-body {
  color: var(--secondary-color);
}
.why-box-body h3 {
  font-size: 18px;
  margin-bottom: 8px;
}
.why-box-body p {
  font-size: 15px;
}

/* Responsive */
@media screen and (max-width: 1024px) {
  .why-container {
    grid-template-columns: 1fr;
    padding: 80px 40px;
    row-gap: 40px;
  }

  .img-why {
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .why-box-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .why-container {
    padding: 60px 16px;
  }

  .why-heading h2 {
    font-size: 32px;
  }

  .why-heading h4 {
    font-size: 24px;
  }

  .why-heading p {
    font-size: 16px;
  }

  .why-box-container {
    grid-template-columns: 1fr;
  }

  .why-img1 img {
    margin: 0 auto;
  }

  .text-circle span {
    font-size: 18px;
  }

  .inner-circle h1 {
    font-size: 36px;
  }

  .inner-circle p {
    font-size: 18px;
  }
}
