.contact-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 0.3fr 0.6fr 1fr;
  margin-bottom: 50px;
}
.contact-box1,
.contact-box3 {
  background-color: var(--primary-color);
  height: 400px;
  border-radius: 20px 20px 0px 0px;
}
.contact-box2 {
  height: 570px;
  background: url("../../assets/contact-box.png") no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 0px 0px 20px 20px;
  padding: 30px;
}
.contact-text-sec h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}
.contact-text-sec p {
  font-size: 18px;
  font-weight: 400;
  opacity: 0.7;
  margin-bottom: 30px;
}
.contact-adders-sec {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.con-sec-icon-text {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.con-sec-icon-text h3 {
  font-size: 30px;
  font-weight: 400;
}
.con-sec-icon-text a {
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 700;
  color: var(--primary-color);
}
.con-sec-phone {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  gap: 40px;
}
.con-sec-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.con-icon {
  color: var(--secondary-color);
}
.contact-box3 {
  color: var(--secondary-color);
  padding: 30px 50px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
.contact-box3 h2 {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 10px;
}
.contact-box3 p {
  font-size: 22px;
  font-weight: 400;
  opacity: 0.7;
  margin-bottom: 40px;
}
.contact-box3 .con-sec-btn {
  padding: 10px 35px;
  font-size: 20px;
  font-weight: 600;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-family: var(--primary-font);
  border-radius: 50px;
}

/* Responsive */
@media screen and (max-width: 1024px) {
  .contact-wrapper {
    grid-template-columns: 0.4fr 0.6fr;
    grid-template-rows: auto auto;
    row-gap: 30px;
  }

  .contact-box1 {
    display: none;
  }

  .contact-box3 {
    grid-column: 1 / -1;
  }
}

@media screen and (max-width: 768px) {
  .contact-wrapper {
    grid-template-columns: 1fr;
  }

  .contact-box2 {
    height: auto;
  }

  .contact-box3 {
    border-radius: 0 0 20px 20px;
    padding: 24px 20px;
  }

  .contact-box3 h2 {
    font-size: 32px;
  }

  .contact-box3 p {
    font-size: 18px;
  }

  .con-sec-icon-text {
    width: 100%;
  }
}
