.cta-section {
  width: 100%;
  height: 413px;
  background: url("../../assets/cta-banner.png") no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: end;
}
.cta-text {
  width: 55%;
}
.cta-text h2 {
  font-size: 60px;
  font-weight: 700;
  color: var(--primary-color);
  margin-bottom: 15px;
}
.cta-text p {
  font-size: 20px;
  font-weight: 400;
  opacity: 0.7;
}
