.cta-section {
  width: 100%;
  height: 413px;
  background: url("../../assets/cta-banner.png") no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: end;
}
.cta-text {
  width: 55%;
}
.cta-text h2 {
  width: 80%;
  font-size: 60px;
  font-weight: 700;
  color: var(--primary-color);
  margin-bottom: 15px;
}
.cta-text h4 {
  font-size: 28px;
  margin-bottom: 10px;
}
.cta-text p {
  font-size: 20px;
  font-weight: 400;
  opacity: 0.7;
}
.cta-btn {
  margin-top: 15px;
  padding: 12px 28px;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

.cta-btn:hover {
  opacity: 0.9;
}

/* Responsive */
@media screen and (max-width: 1024px) {
  .cta-text {
    width: 70%;
  }

  .cta-text h2 {
    font-size: 42px;
  }
}

@media screen and (max-width: 768px) {
  .cta-section {
    justify-content: center;
    text-align: center;
  }

  .cta-text {
    width: 100%;
  }

  .cta-text h2 {
    width: 100%;
    font-size: 32px;
  }

  .cta-text p,
  .cta-text h4 {
    font-size: 18px;
  }

  .cta-btn {
    margin: 20px auto;
  }
}
