.process-home-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding: 80px 20px;
}
.process-home-left h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 15px;
}

.process-home-left p {
  font-size: 18px;
  font-weight: 400;
  opacity: 0.7;
  margin-bottom: 100px;
}
.home-process-heading {
  font-family: var(--primary-font);
  font-size: 35px;
  color: var(--primary-color);
  font-weight: 500;
  margin-bottom: 10px;
}
.process-home-right {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(295px, 1fr));
  gap: 20px;
}
.process-home-box {
  background-color: var(--secondary-color);
  width: 295px;
  height: 275px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  padding: 20px;
}
.process-home-num {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  margin-bottom: 20px;
}
.num-text {
  font-size: 60px;
  font-family: var(--primary-font);
  font-weight: 700;
  color: var(--primary-color);
}
.process-line {
  width: 40%;
  height: 1.5px;
  background-color: var(--primary-color);
}
.process-home-text h2 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 15px;
}
.process-home-text p {
  font-size: 18px;
  font-weight: 400;
  opacity: 0.7;
}
.process-home-box2 {
  background: url("../../assets/home-process.png");
  color: var(--secondary-color);
}
.process-home-box2 .num-text {
  color: var(--secondary-color);
}
.process-home-box2 .process-line {
  background-color: var(--secondary-color);
}
