.our-team-container {
  padding: 40px 20px;
  margin-top: 20px;
}
.our-team-container h2 {
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 15px;
}
.our-team-container p {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  opacity: 0.7;
  width: 60%;
  margin: auto;
  margin-bottom: 30px;
}
.team-container {
  position: relative;
}
.team-member {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.team-img {
  width: 400px;
  height: 549px;
  overflow: hidden;
  position: relative;
}
.inner-con-process {
  width: 100%;
  height: 100px;
  background: linear-gradient(135deg, #f3f3ff, #7e7ed695, #f3f3ff);
  position: absolute;
  bottom: 0px;
  transition: all 0.3s ease-in-out;
  border-radius: 15px 15px;
  color: var(--secondary-color);
  padding: 30px;
  text-align: center;
  backdrop-filter: blur(20px);
}

.arrow-cont-process {
  position: absolute;
  width: 100%;

  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--primary-color);
}
.left-con-icon {
  width: 40px;
  height: 40px;
}
.right-arrow-con {
  width: 50px;
  height: 50px;
  margin-left: 30px;
  cursor: pointer;
}
.left-arrow-con {
  width: 50px;
  height: 50px;
  margin-right: 30px;
  cursor: pointer;
}
.left-arrow-con,
.right-arrow-con {
  background-color: rgb(35, 101, 158);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--secondary-color);
}
@media (max-width: 768px) {
  .team-img {
    width: 100%;
    height: 250px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .our-team-header p {
    width: 100%;
    padding: 8px;
  }
}
