@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* color */
  --primary-color: #113378;
  --secondary-color: #ffffff;
  --black-color: #000000;
  --gray-color: #808080;
  --light-gray-color: #f5f5f5;
  --box-color: #00246e26;
  --bg-light-color: #f3f3ff;

  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  /* fonts */
  --primary-font: "Inter", sans-serif;
  --secondary-font: "Roboto", sans-serif;
  --tertiary-font: "Teachers", cursive;
}

body,
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--primary-font);
}
h1,
h2,
h3 {
  font-family: var(--primary-font);
}
p {
  font-family: var(--secondary-font);
}
a {
  text-decoration: none;
}
ul li {
  list-style: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

/* nav bar */

/* nav bar */
.our-team-header {
  margin: 30px auto;
}
.our-team-header h4 {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 15px;
}

.our-team-header h2 {
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 15px;
}
.our-team-header p {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  opacity: 0.7;
  width: 60%;
  margin: auto;
  margin-bottom: 30px;
}
